.block {
    display: flex;
}

.square {
    margin: 10px;
    width: 100px;
    border: 3px solid black;
    text-align: center;
    cursor: pointer;
}

.circle {
    margin: 10px;
    width: 20px;
    border: 3px solid black;
    border-radius: 50%;
    background: black;
}

.green {
    background: green;
}

.red {
    background: red;
}
