.star {
    width: 20px;
}
.rating {
    row-gap: 10px;
    display: inline-block;
    margin-left: 20px;
}

.button {
    display: flex;
    justify-content: left;
    max-width: 20px;
    align-items: center;
}